/* TESTE CORES = #C20003  | #F2ECE7 | #1D5146*/
.view img {
  transition: all 0.3s linear;
}
.view:hover img{
	transform: scale(1.1);
}
.bg-red {
	background: #FF2525;
}
.brand{
	font-weight: 800;
}
.contato{
	font-size:1.2rem;
}

.heart footer i:hover{
	color: #fff;
}


.rodape {
	background: #DEDEDC;
	color: #FF2525;
	padding: 8px;
}
.concatena {
	color:#a1a6ad;
}
.concatena2 {
	color: #FFC8C8;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.9);
    font-weight: 700;
}
